@import './tokens';

/*
* Create the media query only if it is active
*/
@mixin set-mediaquery($sizeDevice) {

  $isActiveBreakpoint: map-get($active__breakpoints, $sizeDevice);

  @if $isActiveBreakpoint {
    $breakpoint: map-get($breakpoints, $sizeDevice);
    @media (min-width: $breakpoint){
      @content;
    }
  }
}

/*
* Use it for center content inside a container
* It uses $maxWidth__breakpoint token and $sides__margin
*/
@mixin center-content {

  margin-left: $sides__margin;
  margin-right: $sides__margin;

  @media (min-width: ($maxWidth__breakpoint + ($sides__margin * 2)) ) {
    max-width: $maxWidth__breakpoint;
    margin-left: auto;
    margin-right: auto;
  }

}

@mixin set-property-in-active-breakpoints($property__name, $map) {

  #{$property__name}: map-get($map, starts-in);

  @each $sizeDevice, $isActive in $active__breakpoints {
    @if $isActive {
      @include set-mediaquery($sizeDevice){
        #{$property__name}: map-get($map, $sizeDevice);
      }
    }
  }
}